<asl-google-signin-button *ngIf="!user"></asl-google-signin-button>

<div *ngIf="user">
  <h1>
Hello & Welcome Mr {{user.name}} with the confirmation from your email id : {{user.email}}
  </h1>

</div>
<div>
<h2 class="text-center mb-4">Login with Facebook in Angular</h2>
<button type="button" (click)="loginWithFacebook()">Signin with Facebook</button>
</div>

<!-- <div class="card">
  <div class="card-body"> <img class="rounded" [src]="user.photoUrl" alt="Profile" />
    <h5 class="card-title">Welcome, {{user.name}}</h5>
    <p class="card-text">Email ID: {{user.email}}</p>
    <p class="card-text">First Name: {{user.email}}</p>
    <p class="card-text">Last Name: {{user.email}}</p>
    <p class="card-text">ID: {{user.id}}</p>
    <a href="#" class="btn btn-danger btn-sm" (click)="signOut()"> Logout </a>
  </div>
</div> -->